#myrespo {
  display: none;
}
#mylogotext {
  font-size: 20px;
  color: #fdd700;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 1px rgb(15, 15, 12), 0 0 1px rgb(240, 243, 54),
    0 0 1px rgb(236, 204, 18), 0 0 1px rgb(10, 5, 8);
  margin-right: 150px;
}

#mylogotext2 {
  font-size: 18px;
  color: #fdd700;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 1px rgb(15, 15, 12), 0 0 1px rgb(240, 243, 54),
    0 0 1px rgb(236, 204, 18), 0 0 1px rgb(10, 5, 8);
  margin-left: 45px;
}
#teams {
  font-size: 30px;
  text-align: center;
  color: hsl(51, 100%, 50%);
  margin-top: 160px;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 10px rgb(15, 15, 12), 0 0 10px rgb(240, 243, 54),
    0 0 10px rgb(236, 204, 18), 0 0 150px rgb(10, 5, 8);
}
#roadmapteam {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-top: 20px;
}
#roadmappaperteam {
  padding: 1px;
}
#roadmaptextteam {
  padding: 10px;
  background-color: #fdd700;
  color: black;
}
#eagles {
  width: 200px;
  height: 170px;
}
#roadmapinsideteam {
  height: 290px;
  width: 200px;
  margin-left: 10px;
  padding: 1px;
  background-color: #fdd700;
  margin-top: 10px;
}
#myvideo {
  margin-left: 30px;
  width: 450px;
  height: 350px;
}
#mybanner {
  width: 100%;
  height: 400px;
}
#bottom {
  margin-top: 50px;
  width: 100%;
  height: 50px;
  padding: 10px;

  background-color: #fdd700;
  text-align: center;
}
#entire {
  background-color: #141414;
}
#twitter {
  position: absolute;
  left: 40%;
}
#instagram {
  position: absolute;
  left: 58%;
}
#discord {
  position: relative;
  top: 7%;
}
#menu {
  display: none;
}

#intro {
  display: flex;
  flex-direction: row;
}

#question1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#mydrop {
  font-size: 30px;
  text-align: center;
  color: #fdd700;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 10px rgb(15, 15, 12), 0 0 10px rgb(240, 243, 54),
    0 0 10px rgb(236, 204, 18), 0 0 150px rgb(10, 5, 8);
}

#myquestion {
  color: white;
  font-size: 22px;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

#footer {
  display: "flex";
  flex-direction: "row";
  position: relative;
  bottom: 0%;
  top: 50%;
}

#question1 {
  display: "flex";
  flex-direction: "row";
  color: "#E327A1";
  margin-top: 30;
  width: 550;
  justify-content: "center";
  spacing: 0;
  position: "relative";
  left: "50%";
  top: "50%";
  transform: "translate(-50%, -50%)";
}

#arrow1 {
  float: right;

  margin-top: 10px;
}
#answers {
  justify-content: "center";
  position: "relative";
  left: "80%";
  top: "50%";
  text-align: center;
  width: 550px;
  height: 40px;
  margin-left: 380px;
  margin-top: 10px;
  transform: "translate(-50%, -50%)";
  color: #fdd700;
}
#answers4 {
  justify-content: "center";
  position: "relative";
  left: "80%";
  top: "50%";
  text-align: center;
  width: 550px;
  height: 60px;
  margin-left: 380px;
  margin-top: 10px;
  transform: "translate(-50%, -50%)";
  color: #fdd700;
}
#answers6 {
  justify-content: "center";
  position: "relative";
  left: "80%";
  top: "50%";
  text-align: center;
  width: 550px;
  height: 100px;
  margin-left: 380px;
  margin-top: 10px;
  transform: "translate(-50%, -50%)";
  color: #fdd700;
}
#answers7 {
  justify-content: "center";
  position: "relative";
  left: "80%";
  top: "50%";
  text-align: center;
  width: 550px;
  height: 120px;
  margin-left: 380px;
  margin-top: 10px;
  transform: "translate(-50%, -50%)";
  color: #fdd700;
}
#answers8 {
  justify-content: "center";
  position: "relative";
  left: "80%";
  top: "50%";
  text-align: center;
  width: 550px;
  height: 60px;
  margin-left: 380px;
  margin-top: 10px;
  transform: "translate(-50%, -50%)";
  color: #fdd700;
}
#answers9 {
  justify-content: "center";
  position: "relative";
  left: "80%";
  top: "50%";
  text-align: center;
  width: 550px;
  height: 130px;
  margin-left: 380px;
  margin-top: 10px;
  transform: "translate(-50%, -50%)";
  color: #fdd700;
}
#arrow2 {
  float: right;
  position: relative;
  right: 0%;
  margin-top: 10px;
}
#listtext {
  color: white;
  position: absolute;
  left: 30%;
  right: 30%;
  font-size: 18px;

  margin-left: 10px;
}
#listbody {
  margin-top: 40px;
}
#iconn {
  position: absolute;
  left: 28%;
  right: 30%;
}
#holder {
  margin-top: 50px;
  color: black;
}

#roadmap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#roadmapinside {
  height: 300px;
  width: 600px;
  margin-left: 350px;
  padding: 20px;
  margin-top: 10px;
}
#roadmappaper {
  padding: 10px;
  background-color: #b026ff;
  margin-top: 15px;
}
#roadmaptext {
  padding: 10px;

  background-color: #fdd700;
  color: black;
  margin-top: 1px;
}
#mypoints {
  height: 270px;
  padding: 10px;
}
#mypoints3 {
  height: 350px;
  padding: 10px;
  margin-bottom: 20px;
}
#mypoints4 {
  height: 350px;
  padding: 10px;
}
#myintrotext {
  text-align: center;
  width: 500px;
  margin-left: 100px;
  color: white;
}
#myheading {
  text-align: center;
  font-size: 35px;
  font-size: 30px;
  color: #ffd700;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 10px rgb(15, 15, 12), 0 0 10px rgb(240, 243, 54),
    0 0 10px rgb(236, 204, 18), 0 0 150px rgb(10, 5, 8);
}
#img {
  margin-left: 50px;
}
#questionhr {
  width: 700px;
  border-color: #fdd700;
}
#mydrop2 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  color: #fdd700;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 10px rgb(15, 15, 12), 0 0 10px rgb(240, 243, 54),
    0 0 10px rgb(236, 204, 18), 0 0 150px rgb(10, 5, 8);
}
#mydrop3 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
    0 0 10px #f09, 0 0 10px #f09, 0 0 10px #f09, 0 0 150px #f09;
}
#nowwhat {
  color: white;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  width: 800px;
  position: relative;
  left: 15%;
  right: 20%;
}

@media (max-width: 600px) {
  #questionhr {
    width: 400px;
  }
  #arrow1 {
    float: right;
    position: relative;
    right: 0%;
  }
  #arrow2 {
    float: right;
    position: relative;
    right: 0%;
    left: 0%;
  }

  #myquestion {
    color: white;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }

  #question1 {
    display: "flex";
    flex-direction: "row";
    color: "#E327A1";
    margin-top: 30;
    width: 200;
    justify-content: "center";
    spacing: 0;
    position: "relative";
    left: "70%";
    top: "50%";
    transform: "translate(-50%, -50%)";
  }

  #answers {
    justify-content: "center";

    left: "0%";
    top: "50%";
    text-align: left;
    width: 320px;
    height: 60px;
    margin-left: 45px;
    margin-top: 10px;
    transform: "translate(-50%, -50%)";
  }

  #answers4 {
    justify-content: "center";
    position: "relative";
    left: "80%";
    top: "50%";
    text-align: center;
    width: 320px;
    height: 80px;
    margin-left: 45px;
    margin-top: 10px;
    transform: "translate(-50%, -50%)";
    color: #fdd700;
  }
  #answers6 {
    justify-content: "center";
    position: "relative";
    left: "80%";
    top: "50%";
    text-align: center;
    width: 320px;
    height: 100px;
    margin-left: 45px;
    margin-top: 10px;
    transform: "translate(-50%, -50%)";
    color: #fdd700;
  }
  #answers7 {
    justify-content: "center";
    position: "relative";
    left: "80%";
    top: "50%";
    text-align: center;
    width: 320px;
    height: 180px;
    margin-left: 45px;
    margin-top: 10px;
    transform: "translate(-50%, -50%)";
    color: #fdd700;
  }
  #answers8 {
    justify-content: "center";
    position: "relative";
    left: "80%";
    top: "50%";
    text-align: center;
    width: 320px;
    height: 70px;
    margin-left: 45px;
    margin-top: 10px;
    transform: "translate(-50%, -50%)";
    color: #fdd700;
  }
  #answers9 {
    justify-content: "center";
    position: "relative";
    left: "80%";
    top: "50%";
    text-align: center;
    width: 320px;
    height: 190px;
    margin-left: 30px;
    margin-top: 10px;
    transform: "translate(-50%, -50%)";
    color: #fdd700;
  }

  #img {
    margin-left: 20px;
    margin-top: 15px;
  }

  #roadmap {
    display: flex;
    flex-direction: column;
  }
  #navtext {
    display: none;
  }
  #menu {
    display: inline;
    position: absolute;
    left: 0%;
  }
  #myintrotext {
    text-align: center;
    width: 300px;
    margin-left: 10px;
  }
  #intro {
    width: 411px;
    flex-direction: column;
  }
  #entire {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #iconn {
    position: relative;
    left: 18%;
    right: 30%;
  }
  #mydrop2 {
    color: white;
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
    color: #fdd700;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
      0 0 10px rgb(15, 15, 12), 0 0 10px rgb(240, 243, 54),
      0 0 10px rgb(236, 204, 18), 0 0 150px rgb(10, 5, 8);
  }

  #roadmap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #roadmapinside {
    height: 550px;
    width: 350px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25px;
  }

  #roadmappaper {
    padding: 10px;
    background-color: #b026ff;
    margin-top: 15px;
  }
  #roadmaptext {
    padding: 10px;

    background-color: #fdd700;
    color: black;
    margin-top: 1px;
  }
  #mypoints {
    height: 450px;
    padding: 10px;
  }
  #mypoints3 {
    height: 480px;
    padding: 10px;
    margin-bottom: 20px;
  }
  #mypoints4 {
    height: 600px;
    padding: 10px;
  }
  #mydrop3 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
  }
  #nowwhat {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    width: 250px;
    position: relative;
    left: 20%;
    right: 20%;
  }

  #bottom {
    position: inherit;
    bottom: 0%;
    width: 100%;
    background-color: #fdd700;
    text-align: center;
    left: 0%;
    margin-top: 50px;
    height: 80px;
  }
  #twitter {
    position: absolute;
    left: 20%;
    margin-top: 10px;
  }
  #instagram {
    position: absolute;
    left: 42%;

    margin-top: 10px;
  }
  #discord {
    position: relative;
    left: 200%;
    bottom: 20%;
    height: 50px;
  }
  #myvideo {
    margin-left: 0px;
    width: 320px;
    height: 240px;
  }
  #mybanner {
    width: 100%;
    height: 200px;
  }

  #teams {
    font-size: 30px;
    text-align: center;
    color: #fdd700;
    margin-top: 280px;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 40px #f09,
      0 0 10px rgb(15, 15, 12), 0 0 10px rgb(240, 243, 54),
      0 0 10px rgb(236, 204, 18), 0 0 150px rgb(10, 5, 8);
  }
  #roadmapteam {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 80px;
    margin-top: 20px;
  }
  #roadmappaperteam {
    padding: 1px;
  }
  #roadmaptextteam {
    padding: 10px;
    background-color: #fdd700;
    color: black;
  }
  #eagles {
    width: 220px;
    height: 240px;
  }
  #roadmapinsideteam {
    height: 330px;
    width: 220px;
    margin-left: 10px;
    padding: 1px;
    background-color: #fdd700;
    margin-top: 15px;
  }
  #listbody {
    margin-top: 90px;
  }

  #myrespo {
    display: block;
  }
  #myappbar {
    background-color: black;
    display: block;
  }
  #menu {
    margin-left: 10px;
  }
  #mylinks {
    color: #141414;
    text-decoration: none;
  }
  #websitedrawer {
    display: none;
  }
}
